/*Homeeeeee*/

#home{
  background : rgb(255, 200, 0);
  background: linear-gradient(90deg,rgb(255, 200, 0) 50%,rgb(255, 230, 0) 100%);
  min-height: 500px;
}

/*Cards*/

.card{
  transition: all 0.5s ease;
}
.card:hover{
  cursor : pointer;
  box-shadow :0 .5rem 1rem rgba(0,0,0, .15);
}

/*form*/
.form{
  background : rgb(255, 200, 0);
  background: linear-gradient(90deg,rgb(255, 200, 0) 50%,rgb(255, 230, 0) 100%);
}



/*Footer*/

.footer{
  background : rgb(255, 200, 0);
  background: linear-gradient(90deg,rgb(255, 200, 0) 50%,rgb(255, 230, 0) 100%);
}
